<% content_for :header do %>
<table class="header">
	<tr>

		<td class="user_name">
			<%= @relationship.combined_user_names %>
		</td>

		<%= render :partial => "shared/nav_cells" %>

	</tr>
</table>
<% end %>
